@font-face {
  font-family: "icon"; /* Project id 3780137 */
  src: url("iconfont.woff2?t=1668789306423") format("woff2"), url("iconfont.woff?t=1668789306423") format("woff"), url("iconfont.ttf?t=1668789306423") format("truetype");
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-history:before {
  content: "\e6f8";
}

.icon-gift:before {
  content: "\e6f9";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-rising:before {
  content: "\e703";
}

.icon-add-account:before {
  content: "\e741";
}

.icon-add:before {
  content: "\e742";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-ashbin:before {
  content: "\e746";
}

.icon-atm:before {
  content: "\e747";
}

.icon-bad:before {
  content: "\e748";
}

.icon-default-template:before {
  content: "\e74d";
}

.icon-editor:before {
  content: "\e74e";
}

.icon-good:before {
  content: "\e753";
}

.icon-hot:before {
  content: "\e754";
}

.icon-link:before {
  content: "\e756";
}

.icon-messagecenter:before {
  content: "\e758";
}

.icon-move:before {
  content: "\e759";
}

.icon-operation:before {
  content: "\e75b";
}

.icon-seleted:before {
  content: "\e763";
}

.icon-sorting:before {
  content: "\e766";
}

.icon-success:before {
  content: "\e767";
}

.icon-switch:before {
  content: "\e768";
}

.icon-text:before {
  content: "\e769";
}

.icon-Top:before {
  content: "\e76a";
}

.icon-set:before {
  content: "\e76c";
}

.icon-Daytimemode:before {
  content: "\e771";
}

.icon-usercenter:before {
  content: "\e773";
}

.icon-unlock:before {
  content: "\e774";
}

.icon-exchangerate:before {
  content: "\e772";
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-bussiness-man:before {
  content: "\e6f0";
}

.icon-component:before {
  content: "\e6f2";
}

.icon-code:before {
  content: "\e6f3";
}
