.size-16 {
  font-size: 16rpx;
}

.size-18 {
  font-size: 18rpx;
}

.size-20 {
  font-size: 20rpx;
}

.size-22 {
  font-size: 22rpx;
}

.size-24 {
  font-size: 24rpx;
}

.size-26 {
  font-size: 26rpx;
}

.size-28 {
  font-size: 28rpx;
}

.size-30 {
  font-size: 30rpx;
}

.size-32 {
  font-size: 32rpx;
}

.size-34 {
  font-size: 34rpx;
}

.h1 {
  font-size: 56rpx;
}

.h2 {
  font-size: 50rpx;
}

.h3 {
  font-size: 46rpx;
}

.h4 {
  font-size: 40rpx;
}

.h5 {
  font-size: 36rpx;
}

.h6 {
  font-size: 34rpx;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
}

.font-color-gray0 {
  color: #8f8f8f;
}

.font-color-gray1 {
  color: #3e3e3e;
}

.font-color-gray2 {
  color: #181818;
}

.font-color-gray3 {
  color: #585858;
}
